.line-clamp {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.warpper {
  display: flex;
  justify-content: left;

  .line-clamp-border-box {
    width: 250px;
    height: 250px;
  
    box-sizing: border-box;
    padding: 27px;
  
    border: 10px solid black;
  }
  .line-clamp-content-box {
    width: 250px;
    height: 250px;
  
    box-sizing: content-box;
    padding: 27px;
  
    border: 10px solid black;
  }

  .line-clamp-padding-box {
    width: 250px;
    height: 250px;
  
    box-sizing: padding-box;
    padding: 27px;
  
    border: 10px solid black;
  }
}

.custom {
  display: flex;
  justify-content: left;
  border: 1px solid black;
  flex-flow: column;
  height: 300px;
  width: 300px;

  .custom-box {
    height: 150px;
    // min-height: 150px;
    width: 100%;
  }

  .text-box {
  }

  .line-clamp-custom-parent {
    line-height: 50px;
  }
}

.text-area {
  background: #ccc;
}