<div>
  <h3>line clamp</h3>
</div>
<div>
  <div class="line-clamp">
    <div ngxLineClamp [lineCount]="5">
      2014 브라질월드컵에서 6골을 넣으며 득점왕에 올랐던 콜롬비아의 하메스 로드리게스(27·바이에른 뮌헨·사진)는 러시아에서는 ‘특급 도우미’로 변신해 존재감을 보여줬다. 일본과의 H조 조별리그 1차전에서 부상 여파로 교체출전했던 로드리게스는 25일 카잔 아레나에서 열린 폴란드와 2차전에는 선발출전했다. 일본전 패배로 승리가 절실했기 때문이다. 그 기대에 걸맞게 로드리게스는 도움 2개로 팀의 3-0 완승을 이끌었다. 득점을 올린 선수를 제치고 경기 최우수선수(MOM)로 선정될 만큼 종횡무진 그라운드를 누볐다. 이미 브라질에서 6골 3도움을 기록했던 그는 이제 개인 통산 월드컵 두 자릿수 공격포인트를 채웠다. 기록 전문 업체 ‘옵타’에 따르면, 브라질 월드컵 이후 로드리게스보다 골(6)과 도움(5)을 많이 기록한 선수는 아직 없다.
    </div>
  </div>
</div>